<%= form_for(@artpiece) do |f| %>
  <% if @artpiece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artpiece.errors.count, "error") %> prohibited this artpiece from being saved:</h2>

      <ul>
      <% @artpiece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
