<p id="notice"><%= notice %></p>

<h2>Все авторы в категории <%= @career.name%></h2>
<ol>
<% @career.artists.each do |artist| %>
    <li><%= link_to artist.name, :controller => 'artists', :action => 'show', :id => artist.id %></li>
<% end %>
</ol>

<%= link_to 'Back', artists_path %>
