<!DOCTYPE html>
<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel=StyleSheet type="text/css" href="stylesheets/posts.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
<title>POKE!</title>
</head>
<body>
<div id="container">
   <div id="banner" >пым пым пым<h1>header</h1>
   </div>
   <div id="left">
       <h2>Менюшечка</h2>
<div id="css_dropdown_verticale">
   <ul>
       <li><a href="#nogo">Блог <div style="float: right">>></div></a>
           <ul>
	   <li><a href="test.html">Постики</a></li>
           <li><a href="test_form.html">Новый постик</a></li>
           </ul>
       </li>
       <li><a href="#nogo">Творчество <div style="float: right">>></div></a>
           <ul>
           <li><a href="#nogo">Фанарт</a></li>
           <li><a href="#nogo">Фанблаблабла</a></li>
           </ul>
       </li>
       <li><a href="#nogo">Комиксы</a></li>
       <li><a href="#nogo">Еще что-то <div style="float: right">>></div></a>
           <ul>
           <li><a href="#nogo">Еще1</a></li>
           <li><a href="#nogo">Еще2</a></li>
           <li><a href="#nogo">Еще3</a></li>
           </ul>
       </li>
   </ul>
</div>
</ul>
</div>
<div id="content">

    <div id="error_explanation">
      <h2>prohibited this post from being saved</h2>
      <ul>
        <li>err</li>
	<li>err</li>
	<li>err</li>
      </ul>
    </div>
<form>
  <div class="field">
	<label for="author">Author</label><br /><input type="text" id="author" class="text_input">
  </div>
  <div class="field">
	<label for="body">Body</label><br /><textarea rows="10" cols="45" id="body" class="text_input"></textarea>
  </div>
  <div class="tagline"><strong>Tags: </strong>aaaaa, bbbb, cccc</div>

  <div class="actions">
    <input type="submit" class="btn" value="Send">
  </div>
</form>
   </div>
     <div id="footer"><h1>*^з^*</h1></div>
</div>   
</div>
</body>
</html>

             <% f.fields_for :post_images do |builder| %>
    <% if builder.object.new_record? %>
      <p>
      <%= builder.label :name, "Image Caption" %>
      <%= builder.text_field :name %>
      </p>
      <p>
      <%= builder.label :photo, "Image File" %>
      <%= builder.file_field :photo %>
      </p> 
    <% end %>
  <% end %>