<b>Какое поведение вас больше всего заводит</b>
<br>

<input type="radio" name="group1" value="1">Сидит за мольбертом, не двигается и внезапно рисует сосновый бор<br>

<input type="radio" name="group1" value="1">Много пьет, ругается и внезапно уезжает в изгнание<br>

<input type="radio" name="group1" value="1">Не пьет, интересуется историей и внезапно протестует против реформы русской орфографии<br>

<input type="radio" name="group1" value="1">Строит дворцовый комплекс и внезапно не строит<br>

<input type="radio" name="group1" value="1">Много строит и внезапно кончает жизнь самоубийством<br>
 Go to <a href="/test/p3/">ДАЛЬШЕ</a>