<b>Он пугается. когда видит...</b>
<br>
<input type="radio" name="group1" value="1">Ивана Грозного<br>

<input type="radio" name="group1" value="1">Екатерину<br>

<input type="radio" name="group1" value="1">Камни<br>

<input type="radio" name="group1" value="1">Абстракционизм<br>

<input type="radio" name="group1" value="1">Букву ять<br>
 Go to <a href="/test/p4/">ДАЛЬШЕ</a>