<b>Лучшее место для первого свидания это…</b>

<input type="radio" name="group1" value="1">Четыре стены! (округлые)<br>

<input type="radio" name="group1" value="1">Парк, дворец, замок, не нравится, отстранили, пойдем в бар.<br>

<input type="radio" name="group1" value="1">Березовый лес, сосновый лес, лесные дали, дубовая роща, древесина любые сорта доставка отгрузка гарантия качества<br>

<input type="radio" name="group1" value="1">Ему некогда ходить на свидания, он в Финляндии.<br>
 Go to <a href="/test/res/">УЗНАТЬ!!!!</a>