<h1>ИТАК, ТВОЙ ПАРЕНЬ</h1>
<p>Оп, извини. я до этой части еще не дошла ^з^</p>
Ну в общем Баженов взял тебя за руку и вы убежали в закат,<br>
Или Репин взял тебя за руку и вы убежали в Финляндию,<br>
Или Шишкин написал еще один пейзаж))),<br>
А у Борромини как-то все слишком плохо кончилось, но в позитивных тестиках об этом не пишут!!!11
<br>
:D
