<h2><%= link_to_unless_current @post.title, @post %></h2>
<% if !defined?(@images).nil? %>
  <% @images.each do |piece| %>
    <%= image_tag piece.photo(:large) %>
  <% end %>

<div><%= @post.body %></div>
<% end %> 
